---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    app.kubernetes.io/name: {{ namespace }}-{{ app_name }}-charm
  name: {{ app_name }}-charm
  namespace: {{ namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ namespace }}-{{ app_name }}-charm
  serviceName: ""
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ namespace }}-{{ app_name }}-charm
    spec:
      serviceAccountName: {{ app_name }}-charm
      containers:
      - name: metacontroller
        image: {{ metacontroller_image }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
        command: ["/usr/bin/metacontroller"]
        args:
        - --zap-log-level=4
        - --discovery-interval=120s
        securityContext:
          runAsUser: 584792
          runAsGroup: 584792
  volumeClaimTemplates: []
